$background-color: #f8f8f8;
$trans-black: rgba(black, .4);
$trans-white: rgba(#fff, .4);
$highlight-color: #43cea2;
$highlight-color-2: #185a9d;
$light-grey: #eee;
$dark-grey: #6b6b6b;
$item-hover: #d1d1d1;
@mixin box-shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(black, .12), 0 1px 2px rgba(black, .24);
    } @else 
    if $level == 2 {
        box-shadow: 0 3px 6px rgba(black, .16), 0 3px 6px rgba(black, .23);
    } @else 
    if $level == 3 {
        box-shadow: 0 10px 20px rgba(black, .19), 0 6px 6px rgba(black, .23);
    } @else 
    if $level == 4 {
        box-shadow: 0 14px 28px rgba(black, .25), 0 10px 10px rgba(black, .22);
    } @else 
    if $level == 5 {
        box-shadow: 0 19px 38px rgba(black, .3), 0 15px 12px rgba(black, .22);
    }
}

body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.5rem;
    overflow-x: hidden;
    padding: 0;
    background-color: $background-color;
}

img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

footer,
section {
    position: relative;
    overflow-x: hidden;
    z-index: 10;
    background-color: $background-color;
}

.container {
    position: relative;
    z-index: 10;
    padding-top: 100px;
    padding-bottom: 100px;
}

%section-parallax {
    z-index: 5;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

%heading {
    position: absolute;
    top: 7px;
    width: 45px;
    height: 1px;
    content: '';
    background-color: $highlight-color;
}

.heading-after {
    display: inline-block;
    margin: 0 22px;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $highlight-color;
    border-radius: 50%;

    &::before {
        @extend %heading;
        left: 100%;
    }

    span {
        display: block;
        margin: 4px;
        width: 6px;
        height: 6px;
        text-indent: 0;
        border-radius: 50%;
        background: $highlight-color-2;
    }

    &::after {
        @extend %heading;
        right: 100%;
    }
}

.vertical-splitter {
    @media (min-width: 992px) {
        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            background-color: $light-grey;
            height: 100%;
            left: 100%;
            top: 0;
        }
    }
    @media (max-width: 992px) {
        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            background-color: $light-grey;
            height: 1px;
            left: 0;
            bottom: 0;
        }
    }
}

.showme {
    opacity: 1 !important;
}

.font-weight-light {
    font-weight: lighter;
    color: $dark-grey;
}

.piece {
    &::after {
        display: inline-block;
        content: '/piece';
        font-size: .95rem;
        padding-left: 3px;
    }
}

%faded-background {
    z-index: 10;

    &::before {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $trans-black;
    }
}

.faded-background-black {
    @extend %faded-background;

    &::before {
        background-color: $trans-black;
    }
}

.faded-background-white {
    @extend %faded-background;

    &::before {
        background-color: $trans-white;
    }
}

#main-screen {
    @include box-shadow(4);
    z-index: 99;
    position: relative;
    height: 100%;
    min-height: 100vh;
    color: white;
    background-image: url('../img/Volume_Mixer_2_1600_blur_min.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        height: 100%;
        min-height: 100%;
    }

    .btn-primary {
        max-height: 70px;
    }
}

.features-block > div {
    padding: 1.5rem .5rem;
    transition: .5s box-shadow ease, .5s opacity ease;
    @media (min-width: 768px) {
        height: 100%;
    }

    p {
        margin-bottom: 0;
    }

    &:hover {
        @include box-shadow(4);
    }

    svg {
        font-size: 1.75rem;
    }
}

#info-block {
    .container {
        border-top: 1px solid $light-grey;
    }

    .info-block-heading {
        z-index: 10;
    }

    .list-group-item {
        @include box-shadow(1);
        margin: 10px 0;
        transition: .5s box-shadow ease, .5s opacity ease;
        border: 0;
        border-radius: 0;

        p {
            margin-bottom: 0;
        }

        &:hover {
            @include box-shadow(3);
        }
    }

    #info-block-parallax-1 {
        filter: drop-shadow(-15px 15px 10px rgba(black, .5));
    }
}

%parallax {
    display: block;
    position: relative;
    z-index: 6;
    width: auto;
    height: 10vw;
    padding: 0;
    pointer-events: none;
    top: 30%;

    img {
        width: 100%;
        height: 100%;
    }
}

%led {
    width: 2.5vw;
    height: 2.5vw;
    fill: rgb(0, 255, 0);
    top: 23.8%;
    position: relative;
}

#section-parallax-1 {
    @include box-shadow(4);
    z-index: 98;

    .section-parallax-1 {
        @extend %section-parallax;
        background-image: url('../img/Volume_Mixer_5_box.png');
        height: 56vw;
    }

    .parallax-header {
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        color: white;
    }
}
$parallax-left: 7.1vw 14.55vw 20.85vw 27vw 34.27vw;
$parallax-led-left: 3.175vw 9.88vw 16.29vw 22.84vw 29.42vw;
@each $current in $parallax-left {
    $i: index($parallax-left, $current);

    .parallax-#{$i} {
        @extend %parallax;
        left: $current;
    }
}
@each $current in $parallax-led-left {
    $i: index($parallax-led-left, $current);

    .led-#{$i} {
        @extend %led;
        left: $current;
    }
}

#price-block {
    overflow: hidden;
    background-color: #fff;
    padding: 5vh 0;

    &::before {
        content: '';
        height: 10vh;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to bottom right, #f8f8f8, #f8f8f8 50%, transparent 50%, transparent);
    }

    &::after {
        content: '';
        height: 10vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to top left, #f8f8f8, #f8f8f8 50%, transparent 50%, transparent);
    }

    ul {
        li {
            margin-bottom: 0;
            border: 0;
            border-bottom: 1px solid $light-grey;

            &:last-child {
                border: 0;
            }

            &:not(:first-child) {
                padding: .25rem 0;
            }
        }

        h2 {
            font-weight: 300;
            font-size: 2.5rem;
        }

        h4 {
            font-weight: 300;
            font-size: 1.5rem;
        }

        h5 {
            font-weight: 300;
            font-size: 1.25rem;
            color: $dark-grey;
        }

        h6 {
            font-weight: 300;
            font-size: 1rem;
            color: $dark-grey;
        }
    }
}

.footer {
    .container {
        padding-bottom: 30px;
    }

    .buttons {
        margin-bottom: 100px;
    }

    .footer-header {
        font-family: 'Amatic SC', cursive;
        font-size: 4rem;
    }

    .time {
        margin-bottom: 0;
        font-size: 1.3rem;

        span {
            font-family: 'News Cycle', sans-serif;
        }
    }

    .link {
        display: block;
    }
}